.wrapper{
	width:1260px;
	margin:0 auto;
	border:1px solid darkgray;
}
.row{
	width:100%; 
	height:auto;
	display: block;
}
.col1{
	width:8.3333%;
}
.col2{
	width:16.6666%;
}
.col3{
	width:24.9999%;
}
.col4{
	width:33.3332%;
}
.col5{
	width:41.6665%;
}
.col6{
	width:49.9998%;
}
.col7{
	width:58.3331%;
}
.col8{
	width:66.6664%;
}
.col9{
	width:74.9997%;
}
.col10{
	width:83.333%;
}
.col11{
	width:91.6663%;
}
.col12{
	width:99.9996%;
}

[class*="col"] {
   height:auto;
   float:left;
   box-sizing: border-box;
   padding:5px;
   border:1px solid lightgray;
}
img{
	width:100%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
	margin:5px 0px;
}
.mainColor{
	background:gray;
}
.secondaryColor{
	background:lightgray;
}
h1{
	background:darkgray;
	padding:5px 20px;
	font-size:1.4em;
}